# Gemini AI
GEMINI_API_KEY=AIzaSyCVLoUdhJ72Kt5DTSrMe5EoEi6qWqroaUE
GOOGLE_SEARCH_ENGINE_ID=13819de9d0cd542ef
# Google Search API
GOOGLE_SEARCH_API_KEY=AIzaSyAblE6l7rVgpeO_VL8IpSkAzQqPnM6X6pA
# Firebase
FIREBASE_PROJECT_ID=velora-firebase-project
FIREBASE_CREDENTIALS_PATH=./firebase-key.json

# App
PORT=8000
DEBUG=False
